'scopeName': 'source.vcard'
'name': 'vCard'
'fileTypes': [
  'vcf'
]
'patterns': [
  {
    'begin': '^([A-Z\\-]*)'
    'beginCaptures':
      '1':
        'name': 'entity.name.tag.vcard'
    'end': '(:)'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.tag.vcard'
    'name': 'meta.tag.any.vcard'
  }
]
